.table {
    width: 100%;
}

.table .icon {
    text-align: center;
    font-size: 25px;
    color: rgb(137, 168, 193);
    border-radius: 100px;
    background-color: rgba(1, 22, 39);
}

.logo {
    text-align: center;
    border-radius: 100px;
    background-color: rgba(1, 22, 39);
}

.logo img {
    height: 50px;
}

.main {
    background-color: rgba(1, 22, 39, 0.9);
}

iframe {
    width: 100%;
    height: auto;
}