.table {
    width: 100%;
    border: 2px solid blue;
}

.table .icon {
    text-align: center;
    font-size: 25px;
    color: rgb(137, 168, 193);
    border: 1px dotted red;
}

.logo {
    text-align: center;
}

.logo img {
    height: 50px;
}

.main {
    background-color: rgb(1, 22, 39);
}