.app {
    width: fit-content;
    border: 2px solid red;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.app img {
    width: 100px;
    height: 100px;
}

.app td {
    border: 2px solid blue;
}